<footer style="clear: both; width: 100%;">
    <div class="footer-top" style="background-color: #999; padding: 10px;">
        <img src="/resources/img/iabrain.png" alt="Imagen 1">
    <img src="/resources/img/iaeye.png" alt="Imagen 2">
    <img src="/resources/img/pythonicon.png" alt="Imagen 3">
    </div>
    <div class="footer-bottom" style="background-color: #fff; padding: 10px;">
        <p style="color: #999; font-size: small;">DeepEye</p>
        <p style="font-size: small;">TecNM-ITO/CONAHCYT</p>
    </div>
</footer>